<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/stile.css" />
  </head>
  <body>
  <div id="contenitore"><div id="riepilogo">
  <form action="/edit" enctype="multipart/form-data" method="post">
    <input type="hidden" name="key" value="{{ item.key() }}"/>
    <div><label>Title:</label><input type="text" name="title" value="{{ item.title }}" />
    <label>Category:</label><select name="category">
    {% for category in categories %}<option{% if item.category == category %} selected{% endif %} value="{{ category }}">{{ category }}</option>
    {% endfor %}
    </select>
    <label>Position:</label><input type="text" name="position" value="{{ item.position }}" size=2 /></div>

    <div>{% if item.key %}<img src='img/{{ item.key() }}.jpg' align="left" width="{{ img_width }}" height="{{ img_height }}" />{% endif %}
    <textarea name="info" rows="3" cols="60">{{ item.info }}</textarea></div>

    <div><label>New Image:</label><input type="file" name="img"/><input type="submit" name="upload" value="Upload"></div>

    <div><label>Tot Parts:</label><input type="text" name="tot_parts" value="{{ item.tot_parts }}" size=3 />
    {% if item.key %}<label>Avail Parts:</label><input type="text" name="avail_parts" value="{{ item.avail_parts }}" size=3 />{% endif %}</div>

    <div><label>Part Price:</label><input type="text" name="part_price" value="{{ item.part_price }}" size=4 />
    {% if item.key %}<label>Tot Price:</label><input type="text" name="tot_price" value="{{ item.tot_price }}" readonly size=5 />{% endif %}</div>

    <div><input type="submit" name="save" value="Save Item"></div>
  </form>
  </div></div>
  </body>
</html>
