<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="it-IT">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lista Nascita Irene - Elisa e Matteo</title>

<link rel="stylesheet" href="stylesheets/stile.css" type="text/css" media="screen" />

<script type="text/javascript" src="js/simpleCart.js"></script>
<script type="text/javascript">
    simpleCart.email = "colombina@naufraghi.net";
    simpleCart.checkoutTo = Custom;
    simpleCart.currency = EUR;
    simpleCart.cartHeaders = ["Name_noHeader" , "remove_noHeader", ];
</script>

</head>
<body class="custom-background">
    <div id="contenitore">
        <h1>Lista Nascita Irene</h1>

<div id="contenuto">
	<div id="avviso">Un <b>libro</b> è per sempre. Altro che un diamante. <b>Irene</b> erediterà gran parte degli oggetti di uso quotidiano dal fratello: ogni regalo in più sarebbe superfluo.
		Ma i libri no, non sono mai superflui. <br />
		Ufficialmente <b><a href="http://www.farolloefalpala.it/" target="_blank">"Farollo e Falpalà"</a></b> è solo una libreria per bambini aperta a <b>Firenze</b> in <b>via Antonio del Pollaiolo</b>, a due passi dalla fermata "Federiga" della tramvia.<br />
		Per Valerio e per noi è un posto magico, in cui leggere, giocare e chiacchierare con la dolce Falpalà e il simpatico Farollo.
		<br />Per questo abbiamo deciso di aprire da loro la nostra lista nascita. <br /><br />
		I libri e i giochi possono essere <b>acquistati on line</b> (tramite bonifico bancario) oppure <b>andando di persona nel negozio</b>
		(noi lo consigliamo caldamente a tutti i fiorentini che vogliono conoscere di persona questa bella realtà), potendo così
		scegliere direttamente dallo scaffale dedicato a Irene (e Valerio). <br />
		I libri e i giochi regalati, sia di persona che on line, vengono messi
		dentro un baule e saranno consegnati tutti insieme ai nostri due piccoli, insieme ai messaggi personalizzati che via via arriveranno.
		<br /><b>Grazie</b> anche a nome di Irene!
	</div>

{% for item in items %}
{% if item.visible or can_edit %}
<ul>
    <li class="box">
        <p class="categoria">{{ item.category|safe }}</p>
        <div class="interno">
        {% if item.is_complete %}
        <br />
        <br />
        <br />
        {% endif %}
        <p class="titolo">{{ item.title|safe }}</p>
        <img src="img/{{ item.key() }}.jpg" width="{{ img_width }}" height="{{ img_height }}" />
        {% if item.is_complete %}<img src="stylesheets/imgs/fioccoregalo.png" class="ribbon" width="{{ img_width }}" height="{{ img_height }}" />{% endif %}
        <p class="descrizione">{{ item.info|safe }}</p>
        {% if not item.is_complete %}
        <p class="costo centra"><strong>Prezzo:</strong> {{ item.part_price }} €</p>
        <a class="regala" href="javascript:;" onclick="simpleCart.add('name={{ item.title }}', 'price={{ item.part_price }}','quantity=1','key={{ item.key() }}','thumb=img/{{ item.key() }}.png');" ></a>
        {% endif %}
	{% if can_edit %}<p>
	  {{ item.avail_parts }} / {{ item.tot_parts }} <br />
	  <a href="/edit?key={{ item.key() }}">Modifica</a> | <a href="/edit">Aggiungi</a>
	</p>{% endif %}
    </div>
    </li>
</ul>
{% endif %}
{% endfor %}

<div class="clear"></div>
</div>
<br />
<div id="carrello">
<div class="simpleCart_items"></div>
<div class="clear"></div>
<div class="tot_finale">
    <div class="clear"></div>
    <a href="javascript:;" class="simpleCart_checkout">conferma</a>
    <div class="clear"></div>
    <a href="javascript:;" class="simpleCart_empty">svuota carrello</a><br />
</div>
</div>
<a href="{{ url }}">{{ url_linktext }}</a>{% if can_edit %} | <a href="/edit">Aggiungi</a>{% endif %}
</div>
</body>
</html>
